* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/** Navbar **/

header {
    background: #313d3a;
    padding: 20px;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    overflow: hidden;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
}
header nav ul li a:hover {
    background-color: black;
}

/** Photo and full name **/

.infos_principales {
    text-align: center;
    padding: 5.5%;
}
.infos_principales img {
    background-color: white;
    width: 142px;
    height: 133px;
    border-radius: 50%;
    margin: 0 auto;
  }

/** About **/
#about .about_title {
    padding: 5.5%;
}
#about .about_title p {
    margin-top: 2.5%;
    margin-left: 4%;
}
#about .about_title h2 {
    margin-left: 7%;
}
#about .about_title h2 b {
    text-decoration: underline;
}

/** Projects **/
main #projects {
    background: #313d3a;
}
main #projects .box_principale {
    padding: 10%;
}
main #projects .box_principale h2 {
    text-align: center;
    color: white;
}

main #projects .box_principale h2 b {
    text-decoration: underline;
}

main #projects .projects_list ul li {
    color: white;
    list-style: inside;
    padding: 2%;
    padding-left: 10%;
}

main #projects .projects_list ul li a {
    color: white;
}

/** Footer (Networks)**/

footer #networks {
    padding: 2.5%;
}
footer #networks h2 {
    padding: 5.5%;
}
footer #networks h2 b {
    text-decoration: underline;
}
footer #networks ul li {
    margin-top: 1.5%;
    margin-left: 7%;
}
footer #networks ul li p a {
    color: black;
}
footer #networks .fa.fa-linkedin-square {
    font-size: 2em;
}
footer #networks .fa.fa-gitlab {
    font-size: 1.6em;
}

/** Responsive **/

@media (max-width: 705px) {
    header nav ul li a{
        display: flex;
        justify-content: center;
    }
}